---
// Base Layout
import BaseLayout from '../layouts/BaseLayout.astro';

// Components
import Date from '../components/Date.astro';
import Time from '../components/Time.astro';
import Weather from '../components/Weather.astro';
import WebCam from '../components/WebCam.astro';

// Your Styles
import '../styles/MyStyles.css';
---

<BaseLayout>

	<div class="bg-[url('https://downtownspokane.org/wp-content/uploads/2023/04/AdobeStock_491684354-scaled.jpeg')] bg-center bg-auto bg-no-repeat  h-screen">

		<Date />

		<Time />
		
		<Weather />

		<!-- <WebCam /> -->
	</div>
	
</BaseLayout>
