---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="manifest" href="รง/site.webmanifest" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Smart Mirror</title>
	</head>
	<body class="bg-[url('https://downtownspokane.org/wp-content/uploads/2023/04/AdobeStock_491684354-scaled.jpeg')] bg-center bg-no-repeat  h-screen bg-fixed flex justify-center items-center">
	
    <main class="grid grid-cols-3 grid-gap-4 overflow-y-hidden">
        <slot />

	</main>        

	</body>
</html>
